= render 'layouts/navbar' 
%br

.container 
  - flash.each do |type, msg|
    .alert.alert-primary{role: "alert", width: "60%"}
      Notification: #{msg}

%div{:align => "center"} 
  %h1 BOOKSHELF



%table
  - @books.each do |book|
    .row 
      
      .col 
        =image_tag 'book.png', style: 'width:50%'
      
      .col.d-flex.align-items-center
        = book.title
      - if !current_user
        .col.d-flex.align-items-center
          = button_to 'Show details', book_path(book), :method => :get, class:"btn btn-primary"
      - else
        -if current_user.is_reader?
          .col.d-flex.align-items-center
            = link_to 'Show details', book_path(book)
      

.pagination.justify-content-evenly
  = raw pagy_bootstrap_nav(@pagy)
