= render 'layouts/navbar' 
%br

.container 
  - flash.each do |type, msg|
    .alert.alert-primary{role: "alert", width: "60%"}
      Notification: #{msg}

%div{:align => "center"} 
  %h1 BOOKSHELF

%table
  - @books.each do |book|
    %td
      %td=image_tag 'book.png', style: 'height:20%'
      
      %td= book.title
      - if !current_user
        %td= link_to 'Show', book_path(book)
      - else
        -if current_user.is_reader?
          %td= link_to 'Show', book_path(book)

=link_to 'Book list', books_path

- if current_user
  = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  = link_to 'Login', user_session_path

  = link_to "Sign in with Google",user_google_oauth2_omniauth_authorize_path 
