<div class="container">
  <h2> Library profile </h2>
    <div class="row">
      <div class="col">
        <%= image_tag 'library.png',style:"width:60%"%>
      </div>
      <div class="col-8">
    

    

      <div class="card" align="center" style="width: 100%">
          <br>
          <p>Name: <%= current_user.name %></p>
          <br>
          <p>Email: <%= current_user.email %></p>
          <br>
          <p>Username: <%= current_user.username %></p>
          <br>
          <p>Address: <%= current_user.address %></p>
          <br><br>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %> <br>
      </div>
    </div>
  </div>

  <hr>
  <%= button_to 'Add a book', new_book_path, method: :get, class: "btn btn-outline-dark"%>

  <br><br>
  <b>Available books:</b><br>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter1=0 %>
  <% @book.each do |book| %>  
    <tr>
    <% @current_book=Reservation.where(:book_id => book.id) %>  
    <% if @current_book.length==0 or @current_book[0][:confirmed]!=1 and book.owner==current_user.id%>
      <% @counter1+=1 %>
      <div class="row">
        <div class="col"> <li>Title: <%= book.title %> </div>
        <div class="col"><%= button_to book_path(book.id), class: 'btn bg-transparent', method: :get do%><i class="fa fa-info-circle fa-lg"></i><%end%></li></div>
      </div>
    <% end %>
    </tr>
  <% end %>
  <%if @counter1==0 %>
    <div class="col"> No available book  yet.. </div>
  <%end%>
  <br>
  </table>
  </div>
  <br><hr><br>

  <b>Borrowed books:</b>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter2=0 %>
  <% @reservation.each do |reservation| %>  
    <tr>
    <% @current_book=Book.where(:id => reservation.book_id) %>
    <% if @current_book[0][:owner]==current_user.id and reservation.confirmed==1%>  
      <% @counter2+=1 %>
      <div class="row">
        <div class="col"> <li>Title: <%= @current_book[0][:title] %> </div>
        <div class="col"> Requested by: <%= User.find(@current_book[0][:owner]).username %> </div>
        <% if reservation.comments!="" %>
          <div class="col">Notes: <%= reservation.comments %> </div>
        <% end %>
        <div class="col"> <%= button_to 'Set as available', reservation, method: :delete, class: 'btn btn-danger' %> </li></div>
        <div class="col"><%= button_to book_path(@current_book[0][:id]), class: 'btn bg-transparent', method: :get do%><i class="fa fa-info-circle fa-lg"></i><%end%></li></div></li>
      </div>
    <% end %>
    </tr>
  <% end %>
  <%if @counter2==0 %>
    <div class="col"> No borrowed book  yet.. </div>
  <%end%>
  <br>
  </table>
  </div>
  <br><hr><br>


  <b>Pending requests:</b>
  <tr>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter3=0 %>
  <% @reservation.each do |reservation| %>  
    <tr>
    <% @current_book=Book.where(:id => reservation.book_id) %>
    <% if @current_book[0][:owner]==current_user.id and reservation.confirmed==0%>
      <% @counter3+=1 %>
      <div class="row">
        <div class="col"> <li> Title: <%= @current_book[0][:title] %> </div>
        <div class="col"> Requested by: <%= User.find(@current_book[0][:owner]).username %>  </div>
         <% if reservation.comments!="" %>
          <div class="col">Notes: <%= reservation.comments %> </div>
        <% end %>
        <div class="col"> <%= button_to 'Accept', is_confirmed_reservation_path(reservation) , :method => :put, class: "btn btn-success"%></div>
        <div class="col"> <%= button_to 'Decline', is_deleted_reservation_path(reservation) , :method => :put, class: "btn btn-danger" %></div>
      </div>
    <% end %>
    </tr>
  <% end %>
  <%if @counter3==0 %>
      <div class="col"> No pending request yet.. </div>
    <%end%>
  <br>
  </table>
</div>