<div class="container">
  <h2> Library profile </h2>
    <div class="row">
      <div class="col">
        <%= image_tag 'library.png',style:"width:60%"%>
      </div>
      <div class="col-8">
    

    

      <div class="card" align="center" style="width: 100%">
          <br>
          <p>Name: <%= current_user.name %></p>
          <br>
          <p>Email: <%= current_user.email %></p>
          <br>
          <p>Username: <%= current_user.username %></p>
          <br>
          <p>Address: <%= current_user.address %></p>
          <br><br>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %> <br>
      </div>
    </div>
  </div>

  <hr>
  <%= button_to 'Add a book', new_book_path, method: :get, class: "btn btn-outline-dark"%>

  <br><br>
  <b>Available books:</b>
  <table>
  <% @book.each do |book| %>  
    <tr>
    
    <% @current_book=Reservation.where(:book_id => book.id) %>  
    <% if @current_book.length==0 or @current_book[0][:confirmed]!=1 and book.owner==current_user.id%>  
      <div class="row">
        <div class="col"> Titolo: <%= book.title %> </div>
      </div>
    <% end %>
    </tr>
    <br><br>
  <% end %>
  <br>
  </table>
  <br><hr><br>

  <b>Borrowed books:</b>
  <table>
  <% @reservation.each do |reservation| %>  
    <tr>
    <% @current_book=Book.where(:id => reservation.book_id) %>
    <% if @current_book[0][:owner]==current_user.id and reservation.confirmed==1%>  
      <div class="row">
        <div class="col"> Titolo: <%= @current_book[0][:title] %> </div>
        <div class="col">Note: <%= reservation.comments %> </div>
      </div>
    <% end %>
    </tr>
    <br><br>
  <% end %>
  <br>
  </table>
  <br><hr><br>


  <b>Pending requests:</b>
  <tr>
  <table>
  <% @reservation.each do |reservation| %>  
    <tr>
    <% @current_book=Book.where(:id => reservation.book_id) %>
    <% if @current_book[0][:owner]==current_user.id and reservation.confirmed==0%>  
      <div class="row">
        <div class="col"> Titolo: <%= @current_book[0][:title] %> </div>
        <div class="col">Note: <%= reservation.comments %> </div>
        <div class="col"> <%= button_to 'Accept', is_confirmed_reservation_path(reservation) , :method => :put, class: "btn btn-success"%></div>
        <div class="col"> <%= button_to 'Decline', is_deleted_reservation_path(reservation) , :method => :put, class: "btn btn-danger" %></div>
      </div>
    <% end %>
    </tr>
    <br><br>
  <% end %>
  <br>
  </table>