<div class="container">
  <h2> Reader profile </h2>
    <div class="row">
      <div class="col">
        <%= image_tag 'user.png',style:"width:60%"%>
      </div>
      <div class="col-8">
    

    

      <div class="card" align= "center" style="width: 100%">
          <br>
          <p>Name: <%= current_user.name %></p>
          <br>
          <p>Email: <%= current_user.email %></p>
          <br>
          <p>Username: <%= current_user.username %></p>
          <br>
          <% if current_user.roles_mask==1%>
            <p>Address: <%= current_user.address %></p>
          <% end %>
          <br><br>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
          <br>
      </div>
    </div>
  </div>


  <br><br>
  <b>Libri prenotati:</b>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter1=0 %>  
  <% @reservation.each do |reservation| %>  
    <tr>
    <% if reservation.user_id==current_user.id and reservation.confirmed==1%>  
    <% @counter1+=1 %>  
      <% @current_book=Book.where(:id => reservation.book_id) %>  
      <div class="row">
        <div class="col"> <li>Titolo: <%= @current_book[0][:title] %> </div>
         <% if reservation.comments!="" %>
          <div class="col">Note: <%= reservation.comments %> </div>
        <% end %>
        <div class="col"> <%= button_to 'Delete', reservation, method: :delete, class: 'btn btn-danger' %></div>
        <div class="col"><%= button_to book_path(@current_book[0][:id]), class: 'btn bg-transparent', method: :get do%><i class="fa fa-info-circle fa-lg"></i><%end%></li></div></li>
    <% end %>
    </tr>
  <% end %>
  <%if @counter1==0 %>
    <div class="col"> Nessun libro prenotato.. </div>
  <%end%>
  </table>
  </div>
  <br><hr><br>

  <b>Richieste in sospeso:</b>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter2=0 %>  
  <% @reservation.each do |reservation| %>  
    <tr>
    <% if reservation.user_id==current_user.id and reservation.confirmed==0%>  
    <% @counter2+=1 %>  
      <% @current_book=Book.where(:id => reservation.book_id) %>  
      <div class="row">
        <div class="col"><li> Titolo: <%= @current_book[0][:title] %> </div>
         <% if reservation.comments!="" %>
          <div class="col">Note: <%= reservation.comments %> </div>
        <% end %>
        <div class="col"> <%= button_to 'Cancel', reservation, method: :delete, class: 'btn btn-danger' %> </li></div>
        <div class="col"><%= button_to book_path(@current_book[0][:id]), class: 'btn bg-transparent', method: :get do%><i class="fa fa-info-circle fa-lg"></i><%end%></li></div></li>
    <% end %>
    </tr>
  <% end %>
  <%if @counter2==0 %>
    <div class="col"> Nessuna richiesta in sospeso.. </div>
  <%end%>
  </table>
  </div>
  <br><hr><br>

  <b>Rejected requests:</b>
  <div class="section clearfix" style="background-color: #f8f9fa;">
  <table>
  <% @counter3=0 %>
  <% @reservation.each do |reservation| %>  
    <tr>
    <% if reservation.user_id==current_user.id and reservation.confirmed==2%>
      <% @counter3+=1 %>  
      <% @current_book=Book.where(:id => reservation.book_id) %>  
      <div class="row"> 
        <div class="col"><li> Titolo: <%= @current_book[0][:title] %> </div>
         <% if reservation.comments!="" %>
          <div class="col">Note: <%= reservation.comments %> </div>
        <% end %>
        <div class="col"><%= button_to book_path(@current_book[0][:id]), class: 'btn bg-transparent', method: :get do%><i class="fa fa-info-circle fa-lg"></i><%end%></li></div></li>
    </tr>
    <%end%>
  <% end %>
  <%if @counter3==0 %>
    <div class="col"> Nessuna richiesta rifiutata.. </div>
  <%end%>
  </table>
  </div>
  <br><br>