= render 'books/navbar' 

.container
  .row
    .col
      = image_tag 'black_book.png',style:"width:100%"
    .col-8
      %br
      %br
      .card{:align => "center", :style => "width: 100%"}
        %br
        %h1 Details
        %hr
        

        %p
          %strong Title:
          = @book.title
        %p
          %strong Author:
          = @book.author

        %p
          %strong Notes:
          = @book.notes

        %p
          %strong ISBN:
          = @book.isbn

        %p
          %strong Status:
          -if Reservation.where(:user_id => current_user.id, :book_id => @book.id).length==0
            ="available"
          -if Reservation.where(:user_id => current_user.id, :book_id => @book.id).length!=0
            -if Reservation.where(:user_id => current_user.id, :book_id => @book.id)[0][:confirmed]==1
              = "borrowed"
            -else
              ="available"

        %p
          %strong Location:
          =User.find(@book.owner).address
          

        .container 
          .row 
            
            .col
              - if can? :edit, Book
                -if @book.owner==current_user.id 
                  = button_to 'Edit', edit_book_path(@book), :method => :get, class: "btn btn-primary"
              %br
              .col
              - if can? :delete, Book
                -if @book.owner==current_user.id 
                  = button_to 'Delete book', book_path(@book), :method => :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-primary"
          %br
          .row 
            
            - if current_user.is_reader?
              - @current_reservation=Reservation.where(:user_id => current_user.id, :book_id => @book.id)
              -if @current_reservation.length!=0
                -if @current_reservation[0][:confirmed]!=2
                  = button_to 'Cancella prenotazione', reservation_path(@current_reservation[0][:id]), method: :delete, class: 'btn btn-danger'
              -else
                = button_to 'Prenota', new_book_reservations_path(@book), class: "btn btn-primary", :method => :get
        
        %br


= link_to 'Back', books_path