%p
  %strong Title:
  = @book.title
%p
  %strong Author:
  = @book.author

%p
  %strong Notes:
  = @book.notes

%p
  %strong ISBN:
  = @book.isbn


= link_to 'Edit', edit_book_path(@book)
= link_to 'Back to homepage', root_path
