= render 'books/navbar'

%br

.container{align: "center", style: "width: 50%"}
    %h2 Ask reservation
    %br
    = form_tag book_reservations_path, :method => :post do

        = label :reservation, :comments, 'Comment'
        = text_field :reservation, :comments, class:"form_control"

        %br
        %br
        = submit_tag 'Ask reservation', class:"btn btn-success"