<!DOCTYPE html>
<html>
  <head>
    <title>SmartLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    <% if user_signed_in? %>
    <p>Logged in as <%= current_user.email%> [<%= link_to 'Logout', 
    destroy_user_session_path, :method => :delete%>] <p>
    <% end %>

    <% if not current_user.nil? %>
      <hr>
      <div class="alert alert-success" role="alert" width="60%">
      <b> Role: </b>
          <% if current_user.is_library?%>
            Library 
          <%end%>
         <% if current_user.is_reader? %>
            Reader 
          <% end %>
    <%end%>


  </body>

</html>


